<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".User.Paypal.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Employee.Driver.Activities.HistoryDriverDetailActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.HistoryUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".User.VNPay.VNP_API"
            android:exported="false" />
        <activity
            android:name=".User.Paypal.PaypalAPI"
            android:exported="true" />
        <activity
            android:name=".User.Activities.BookDriverActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.ChooseDestinationActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.CaculateMoneyActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Driver.Activities.EditProfileActivityDriver"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Driver.Activities.FaqActivityDriver"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.DetailHistoryActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Driver.Activities.DetailHistoryActivityDriver"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Admin.Activities.ManageRegisterDriverDetailActivityAdmin"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Admin.Activities.ManageRegisterDriverActivityAdmin"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Admin.Activities.ManageDriverDetailActivityAdmin"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Admin.Activities.MainActivityAdmin"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.RegisterDriverActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Driver.Activities.MainActivityDriver"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.Driver.Activities.ReceiveOrderActivityDriver"
            android:exported="false" />
        <activity
            android:name=".User.Activities.FaqActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.SavedLocationActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.EditProfileActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Employee.LoginActivityEmployee"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.MapActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.LoginActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".User.Activities.MainActivityUser"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
    </application>

</manifest>